doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title="Event Registration"
  body
    h1 #{eventName}
    #container.col
      p Hello #{firstName},
      |
      p Thank you for registering for our event!
      p Payments must be made at the office before #{startTime}
      p Your ticket will be emailed to you at this address after your have completed payment.
      |
      p Your ticket price: #{ticketPrice}
      |
      |
      p We look forward to seeing you!